{% assign references = site.data.data.references %}
{% if references %}
  <section class="section references-section">

    <h2 class="section-title">
      <span class="fa-stack fa-xs">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-users fa-stack-1x fa-inverse"></i>
      </span>
      {{ references.title }}
    </h2>

    {% for reference in references.info %}
    <div class="item">

      <div class="meta">

        <div class="upper-row">
          <h4 class="reference-name">{{ reference.name }}</h4>
        </div><!--//upper-row-->

        <div class="reference-position">{{ reference.position | markdownify }}</div>
      </div><!--//meta-->

    </div><!--//item-->
    {% endfor %}

  </section><!--//section-->
{% endif %}
