{% assign skills = site.data.data.sidebar.skills %}
{% if skills %}
<div class="skills-container container-block">

  <h2 class="container-block-title"><span class="fas fa-wrench"></span>
    {{ skills.title }}
  </h2>

  <ul class="list-unstyled skills-list">
    {% for skill in skills.info %}

    {% if skill.link %}
    <li><a href="{{ skill.link }}">{{ skill.item }}</a></li>
    {% else %}
    <li>{{ skill.item }}</li>
    {% endif %}

    {% endfor %}
  </ul>

</div><!--//skills-->
{% endif %}
